@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@400;600;700&display=swap");
* {
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Lato, sans-serif;
}

body {
  background-color: #dfe6e9;
  display: block;
  margin: 0px;
}
body .navbar {
  background-color: white;
}
body .navbar h2 {
  width: 60%;
  margin: auto;
  padding: 25px 0px;
}
body .body {
  width: 100%;
  box-sizing: border-box;
}
body .body__title {
  width: 60%;
  height: 250px;
  margin: 15px auto;
  text-align: center;
  background-color: white;
  padding: 10px 15px;
}
body .body__title__up {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background-color: rgb(162, 155, 254);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .body__title__up img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
body .body__title h1 {
  color: #a29bfe;
}
body .body__totalmoney {
  width: 60%;
  margin: 0px auto 10px;
  text-align: center;
  background-color: rgb(108, 92, 231);
  padding: 0px 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  z-index: 999;
  box-shadow: rgb(108, 92, 231) 0px 25px 20px -15px;
}
body .body__totalmoney h1 {
  color: #fff;
  margin: 0;
  padding: 15px 0;
}
body .body__cards {
  width: 60%;
  text-align: center;
  margin: auto auto 20px;
  padding: 0px 15px;
}
body .body__cards__card {
  width: 280px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-block;
  text-align: center;
  padding: 15px;
  background-color: white;
  margin: 10px;
  box-shadow: rgba(120, 120, 120, 0.35) 1.95px 1.95px 2.6px;
  transition: all 0.2s ease 0s;
}
body .body__cards__card__up {
  width: 90%;
  height: 150px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}
body .body__cards__card__up img {
  max-height: 90%;
  max-width: 90%;
  margin: auto;
}
body .body__cards__card h3 {
  padding: 0px;
}
body .body__cards__card h4 {
  padding: 0px;
  opacity: 0.6;
}
body .body__cards__card__down {
  width: 95%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
body .body__cards__card__down__sellbtn {
  width: 30%;
  padding: 8px 25px;
  border: none;
  background-color: rgb(220, 220, 220);
  border-radius: 2px;
  color: white;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}
body .body__cards__card__down__sellbtn:hover {
  transform: translateY(-1px);
  opacity: 0.9;
}
body .body__cards__card__down__inp {
  width: 25%;
  padding: 4px 10px;
  border-radius: 5px;
  border: 1px solid rgb(162, 155, 254);
  text-align: center;
  outline-color: rgb(220, 220, 220);
}
body .body__cards__card__down__inp:focus {
  outline-offset: 0px;
}
body .body__cards__card__down input::-webkit-outer-spin-button,
body .body__cards__card__down input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
body .body__cards__card__down__buybtn {
  width: 30%;
  padding: 8px 25px;
  border: none;
  background-color: rgb(162, 155, 254);
  border-radius: 2px;
  color: white;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}
body .body__cards__card__down__buybtn:hover {
  transform: translateY(-1px);
  opacity: 0.9;
}
body .body__cards__card:hover {
  box-shadow: rgba(120, 120, 120, 0.65) 1.95px 1.95px 12.6px;
}
body .body__receipt {
  width: 50%;
  margin: 15px auto 65px;
  text-align: center;
  background-color: white;
  padding: 15px 20px 20px;
}
body .body__receipt h2 {
  margin: 0px;
}
body .body__receipt__card {
  margin-top: 15px;
  background-color: rgb(162, 155, 254);
  border-radius: 20px;
  padding: 15px;
}
body .body__receipt__card__item {
  width: 80%;
  margin: auto;
}
body .body__receipt__card__item__left {
  width: 30%;
  color: white;
  display: inline-block;
  text-align: left;
}
body .body__receipt__card__item__center {
  width: 30%;
  color: white;
  display: inline-block;
  text-align: center;
}
body .body__receipt__card__item__right {
  width: 30%;
  color: white;
  display: inline-block;
  text-align: right;
}
body .body__receipt__card__line {
  width: 80%;
  margin: auto;
  height: 1px;
  border-bottom: 1px dashed rgb(255, 255, 255);
}
body .body__receipt__card__down {
  width: 80%;
  margin: auto;
  display: block;
}
body .body__receipt__card__down h3 {
  width: 45%;
  text-align: center;
  color: white;
  display: inline-block;
}
body .footer {
  background-color: rgba(108, 92, 231, 0.5);
  width: 100%;
  margin-top: auto;
  padding: 5px 0px 50px;
}
body .footer__card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}
body .footer__card__links a {
  color: black;
}
body .footer__card__links svg {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 hsla(0deg, 0%, 100%, 0.82), 0 2px 16px 0 #fff;
  color: rgba(0, 0, 0, 0.8);
  font-size: 40px;
  margin: 10px;
  padding: 5px;
  transition: color 0.2s, box-shadow 1s;
}
body .footer__card__links svg:hover {
  box-shadow: 0 54px 55px hsla(0deg, 0%, 100%, 0.25), 0 -12px 30px hsla(0deg, 0%, 100%, 0.12), 0 4px 6px hsla(0deg, 0%, 100%, 0.12), 0 12px 13px hsla(0deg, 0%, 100%, 0.17), 0 -3px 5px hsla(0deg, 0%, 100%, 0.09);
  color: #000;
}
body .footer__card__title {
  font-family: Roboto Mono, monospace;
}
body .footer__card__title a {
  color: rgba(0, 0, 0, 0.4);
  display: block;
  font-size: 24px;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: all 0.2s ease 0s;
  padding: 5px;
}
body .footer__card__title a:hover {
  color: rgba(0, 0, 0, 0.8);
}
body .footer__card__title a span {
  font-size: 16px;
}

.active {
  background-color: rgb(214, 48, 49) !important;
}

.deactive {
  background-color: rgb(220, 220, 220) !important;
}

@media only screen and (max-width: 1100px) {
  .body__cards button {
    padding: 8px 20px !important;
  }
  .footer {
    padding: 5px 0px 40px !important;
  }
  .footer__card {
    width: 70% !important;
    margin-top: 30px !important;
  }
}
@media only screen and (max-width: 1050px) {
  .body__title {
    width: 75% !important;
  }
  .body__totalmoney {
    width: 75% !important;
  }
  .body__cards {
    width: 75% !important;
  }
  .body__cards__card {
    width: 250px !important;
  }
  .body__cards__card__up {
    height: 140px !important;
  }
  .body__receipt {
    width: 75% !important;
  }
}
@media only screen and (max-width: 900px) {
  .body__cards__card {
    width: 220px !important;
  }
  .body__cards__card__up {
    height: 130px !important;
  }
  .body__cards__card button {
    padding: 8px 10px !important;
  }
}
@media only screen and (max-width: 800px) {
  .body__title {
    width: 85% !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    padding-bottom: 20px !important;
  }
  .body__title__up {
    width: 120px !important;
    height: 120px !important;
  }
  .body__title__up img {
    width: 110px !important;
    height: 110px !important;
  }
  .body__title h1 {
    font-size: 24px !important;
  }
  .body__totalmoney {
    width: 85% !important;
  }
  .body__totalmoney h1 {
    font-size: 24px !important;
  }
  .body__cards {
    width: 85% !important;
  }
  .footer {
    padding: 5px 0px 30px !important;
  }
  .footer__card {
    width: 80% !important;
    margin-top: 20px !important;
  }
  .body__receipt {
    width: 85% !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    padding: 15px 10px 20px !important;
  }
  .body__receipt__card {
    padding: 10px !important;
  }
  .body__receipt__card h3 {
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 700px) {
  .body__cards__card {
    width: 190px !important;
    margin: 10px 5px !important;
  }
  .body__cards__card__up {
    width: 120px !important;
  }
  .body__cards__card button {
    padding: 8px 5px !important;
  }
}
@media only screen and (max-width: 600px) {
  .body__title {
    width: 95% !important;
    padding: 10px 0px !important;
  }
  .body__totalmoney {
    width: 95% !important;
    padding: 0px !important;
  }
  .body__cards {
    width: 95% !important;
  }
  .footer {
    padding: 5px 0px 20px !important;
  }
  .footer__card {
    width: 90% !important;
    margin-top: 15px !important;
  }
  .body__receipt {
    width: 90%;
    padding: 15px 7px 20px !important;
  }
  .body__receipt__card {
    padding: 8px !important;
  }
  .body__receipt__card h3 {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 400px) {
  .body__receipt h3 {
    font-size: 11px !important;
  }
}